<form class="flex md:justify-content-evenly" [formGroup]="searchForm" (onSearch)="onSearch()">
    <div class="flex gap-2">
        <input type="text" pInputText [formControlName]="fields.FROM_INPUT" placeholder="from" />
        <p-button icon="pi pi-sync" [rounded]="true" [outlined]="true" size="small"></p-button>
        <input type="text" pInputText [formControlName]="fields.TO_INPUT" placeholder="to" />
    </div>

    <p-calendar
        [formControlName]="fields.CALENDER"
        [iconDisplay]="'input'"
        [showIcon]="true"
        dateFormat="D M d"
        inputId="icondisplay"
    />

    <p-button (click)="onSearch()">Submit</p-button>
</form>
