<form
    class="flex md:justify-content-evenly flex-wrap gap-2 search-form"
    [formGroup]="searchForm"
    (onSearch)="onSearch()"
>
    <div class="flex gap-2 search-inputs">
        <input class="search-input" type="text" pInputText [formControlName]="fields.FROM_INPUT" placeholder="from" />
        <p-button
            icon="pi pi-sync"
            [rounded]="true"
            [outlined]="true"
            size="small"
            (click)="reverseInputs()"
            class="flex align-self-center"
        ></p-button>
        <input class="search-input" type="text" pInputText [formControlName]="fields.TO_INPUT" placeholder="to" />
    </div>

    <p-calendar
        class="calendar-input"
        [formControlName]="fields.CALENDER"
        [iconDisplay]="'input'"
        [showIcon]="true"
        dateFormat="D M d"
        inputId="icondisplay"
        [minDate]="minDate"
    >
        <ng-template pTemplate="date" let-date>
            <span [ngStyle]="{ color: 'blue' }">
                {{ date.day }}
            </span>
        </ng-template>
    </p-calendar>

    <p-button class="search-btn" (click)="onSearch()"> <div class="div-search">Search</div></p-button>
</form>
