<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{ colorScheme() === 'light' ? 'logo-dark' : 'logo-white' }}.svg" alt="logo" />
        <span>Express Train App</span>
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    <div class="layout-topbar-custom-menu flex gap-2">
        <app-header-menu
            icon="pi pi-language"
            [modelMenu]="languageMenu()"
            [show]="languageMenuShow()"
            (openMenu)="handleOpenLanguageMenu()"
            (closeMenu)="handleCloseLanguageMenu()"
            (selectedItem)="handleSelectLanguage($event)"
        ></app-header-menu>

        <app-header-menu
            [modelMenu]="userMenu()"
            [show]="userMenuShow()"
            (openMenu)="handleOpenUserMenu()"
            (closeMenu)="handleCloseUserMenu()"
        ></app-header-menu>
    </div>
</div>
